/* template starts here */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}


*, *:before, *:after {
	box-sizing: inherit;
}

.ir {
	overflow: hidden;

	text-indent: 100%;
	white-space: nowrap;
}

.img-flex {
	display: block;
	width: 100%;
}

/* template ends here */

.feild {
    font-weight: bold;
    color:#333E48;
}

.bar {
    margin: 0;
}

.image {
    background-image: url(../artwork/photo.jpg);
    height: 500px;
    background-position: center center;
}

/* social media styles */
.st0{
    fill:#232222;
    }

.st0:hover{
    fill:#ACC6C9;
    -webkit-transition: all 400ms ease-out; 
    transition: all 400ms ease-out;
    }

.social {
    max-width: 80px;
    text-align: center;
    display: block;
}

/* social media styles end */