/* template starts here */

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    padding: 0;
    margin: 0;
}

.h1 {
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
}


*, *:before, *:after {
	box-sizing: inherit;
}

.ir {
	overflow: hidden;

	text-indent: 100%;
	white-space: nowrap;
}

.img-flex {
	display: block;
	width: 100%;
}

/* template ends here */

.feild {
    font-weight: bold;
    color:#333E48;
}

.bar {
    margin: 0;
}

.image {
    background-image: url(../artwork/notch-h.svg) ,url(../artwork/photo.jpg);
    background-repeat: no-repeat,no-repeat;
    background-size: 2em, auto;
    height: 500px;
    background-position:bottom center, center center;
}

/* social media styles */
.st0{
    fill:#232222;
    -webkit-transition: all 400ms ease-out; 
    transition: all 400ms ease-out;
    }

.st0:hover{
    fill:#ACC6C9;
    }

.st1{
    fill:white;
    -webkit-transition: all 400ms ease-out; 
    transition: all 400ms ease-out;
    }

.st1:hover{
    fill:#ACC6C9;
    }

.social {
    max-width: 90px;
    text-align: center;
    display: block;
}

.social-push {
        padding-top: .75em;
        padding-left: calc(50% - 170px);
    }

/* social media styles end */

/*media querries*/



/*small*/@media only screen and (min-width: 25em) {
    .disappear-sm {
        display: none;
    }
}

/*medium*/@media only screen and (min-width: 38em) {
    .disappear-sm {
        display: block;
    }
    
    .l-screen-push {
        position: absolute;
        padding-top: 4em;
    }
    
    .image {
        background-position:center right, bottom center, center center;
        background-image: url(../artwork/notch.svg), url(../artwork/notch-h-b.svg), url(../artwork/photo.jpg);
        background-size: 1em, 2em, auto;
    }
    
    .disappear-l {
        display: none;
    }
    
    .colour-block-l {
        background-color: #232222;
        padding-bottom: 25vh;
        color: white;
    }

}

/*large*/@media only screen and (min-width: 60em) {
    .l-screen-push {
        position: absolute;
        padding-top: 5em;
    }
}